<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="mainCtrl">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title ng-bind="pageTitle"></title>
	<!-- jQuery (required by Bootstrap) -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" async></script>
	
	<!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>

    <script src="inc/script.js"></script>
    <link rel="stylesheet" href="inc/style.css">
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
	<div id="chronometer">
		<span>{{remainingTime}}</span>
		<div>
			<button class="btn btn-default" ng-click="chronoStartStop()" ng-bind="stopStartLabel" ng-show="!isOn || stoppable"></button>
			<button class="btn btn-default" ng-click="chronoReset()">Reset</button>
            <button class="btn btn-default" ng-click="displaySettings = !displaySettings" ng-show="!isOn">Toogle settings</button>
		</div>

	</div>

    <div id="setup" ng-hide="isOn || !displaySettings">
        <div style="border:1px black solid;padding:5px;margin-bottom:5px;">
	        <label for="timeLengthDisplayed" class="control-label" style="display:inline-block;width:150px;">Countdown duration:</label>&nbsp;<input type="text" name="" ng-model="payload.timeLengthDisplayed" class="input-small" style="width:60px;text-align:center;"/><br />
            <input type="checkbox" id="stoppable" ng-model="payload.stoppable"/> <label for="stoppable">Make pomodero stoppable</label><br />
            <input type="checkbox" id="askConfirmReset" ng-model="payload.askConfirmReset"/> <label for="askConfirmReset">Ask confirmation for reset</label><br />
            <span style="display:inline-block;width:150px;">Background image:</span> <input type="text" ng-model="payload.backgroundImage" style="width:400px;" />
        </div>
        <h2>Quotes</h2>
        <div ng-repeat="quote in payload.quotes" style="border:1px black solid;padding:5px;margin-bottom:5px;">
            <span style="display:inline-block;width:150px;">Title: </span><input type="text" ng-model="payload.quotes[$index].title" style="width:400px;"><br />
            <span style="display:inline-block;width:150px;">Quote: </span><input type="text" ng-model="payload.quotes[$index].quote" style="width:400px;"><br />
            <a ng-click="deleteQuote($index)">Delete this quote</a></div>
        <a ng-click="addQuote()">Add a quote</a><br />
	    <button class="btn btn-default" ng-click="chronoSetNewTimeCountAndReset()">Set and reset</button>
    </div>

    <div id="quotes"><!-- This block is filled by JavaScript --></div>
</body>
</html>

