html {
    background-size: 100% auto;
}

body {
    background-color: none;
    background: transparent;
}

a {
    cursor: pointer;
}

#chronometer, #quotes, #setup {
	background-color:white;
	padding:5px;
    border-radius:5px;
    opacity:0.9;
    width:800px;
    margin:10px;
    margin-left: auto;
    margin-right: auto;
	text-align:center;
}

#chronometer span {
	color:black;
	font-size:80px;
	padding:0px;
	margin:0px;
}

#quotes p {
    font-size:large;
}
#quotes h1 {
    margin:0px;
}

#setup {
    text-align:left;-
}

/*
 * CSS for animation purposes
 */
#setup {
	opacity:0.9;
}

#setup {
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
}

#setup.ng-hide {
  opacity:0;
}


